.circleRed {
    height: 15px;
    width: 15px;
    background-color: #FF0000;
    border-radius: 50%;
}

.circleGreen {
    height: 15px;
    width: 15px;
    background-color: #00FF00;
    border-radius: 50%;
}

.circleAmber {
    height: 15px;
    width: 15px;
    background-color: #FFBF00;
    border-radius: 50%;
}

.tableRow {
    padding: 10px;
    border-top: solid 1px #E8E8E8;
    font-size: 12px;
}

.tableHeaderContainer {
    padding: 0px 10px 0px 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: Inter;
    font-weight: 600;
}

.data {
    font-size: 12px;
    word-wrap: break-word;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.health_data {
    word-wrap: break-word;
}

.tableRow:hover {
    background: #ffffff;
    cursor: pointer;
}


.loader_spacing {
    margin: 20px 0px 20px 0px;
}