.appBar_userprofile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Profile {
    margin: 0px 10px 0px 0px
}

.drawer-container {
    background: #f6f6f5;
}