.custom-box-shadow {
    border-radius: 2px;
    box-shadow: -8px 8px 16px rgba(0, 0, 0, 0.05);
}

.workgroup-container {
    border-radius: 2px;
    box-shadow: -8px 8px 16px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.workgroup-stat {
    padding: 20px;
    color: rgb(68, 68, 68);
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workgroup-stat-cards {
    background-color: #ffffff;
    padding: 20px;
    color: rgb(68, 68, 68);
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    box-shadow: -8px 8px 16px rgba(0, 0, 0, 0.05);
}

.count-text {
    color: #2F2F2F;
    font-size: 14px;
    font-weight: 600;

}

.name-text {
    color: #898989;
    font-size: 10px;
    letter-spacing: 1px;
}

.table-header {
    font-size: 10px;
    color: #2F2F2F;
    letter-spacing: 1px;
    padding: 10px
}

.workgroup-team-stats {
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: -8px 8px 16px rgba(0, 0, 0, 0.05);
}

.agent-container {
    display: flex;
    gap: 8px;
    flex-direction: row;
    align-items: center;
}

.teams-stats-row {
    border-top: solid 1px #E8E8E8;
    font-size: 10px;
    padding: 10px;
    color: #898989;

}

.scroll-row {
    height: 75vh;
    overflow: scroll;
    overflow-x: hidden;
}

.teams-stats-row:hover {
    background: #f5f5f5;
    cursor: pointer;
}