.status_alignment {
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
}

.avalilable {
    background: #d8f8c9;
    border-radius: 4px;
    padding: 4px 8px 4px 8px;
    color: #52C41A;
}

.Unknown {
    background: rgb(223, 223, 223);
    border-radius: 4px;
    padding: 4px 8px 4px 8px;
    color: grey;
}

.Degraded {
    background: #fcecbe;
    border-radius: 4px;
    padding: 4px 8px 4px 8px;
    color: #FFBF00;
}

.Unavailable {
    background: #ffbfc2;
    border-radius: 4px;
    padding: 4px 8px 4px 8px;
    color: #F5222D;
}